*, .faq-body{
    background-color: #f0ead2;
  }
 
  .faq-title {
    font-size: 50px;
    text-align: center;
   
    margin-bottom: 40px;
  }
  .questions-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .questions-container i {
      color: black;
  }
  .question {
    border-bottom: 1px solid black;
  }
  .question button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: none;
    outline: none;
    font-size: 20px;
    color: black;
    font-weight: 700;
    cursor: pointer;
  }
  .question p {
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
  }
  .d-arrow {
    transition: transform 0.5s ease-in;
    color: #fff;
  }
  /*add this class when click*/
  .question p.show {
    max-height: 200px;
    opacity: 1;
    padding: 0px 15px 30px 15px;
  }
  .question button .d-arrow.rotate {
    transform: rotate(180deg);
  }
  .faq-body {
    margin-top: -100px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-container {
    width: 80%;
    background: #FFF;
    border: 2px solid #6C584C;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .contact-container .contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact-container .contact-content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .contact-content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #595959;
  }
  .contact-content .left-side .details {
    margin: 14px;
    text-align: center;
  }
  .contact-content .left-side .details i {
    font-size: 30px;
    color: #6C584C;
    margin-bottom: 10px;
  }
  .contact-content .left-side .details .contact-topic {
    font-size: 18px;
    font-weight: 500;
  }
  .contact-content .left-side .details .text-one, .contact-content .left-side .details .text-two {
    font-size: 14px;
    color: grey;
  }
  .contact-container .contact-content .right-side {
    width: 75%;
    margin-left: 75px;
  }
  .contact-content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #6C584C;
  }
  .right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input, .right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box {
    min-height: 110px;
  }
  .right-side .contact-button {
    display: inline-block;
    margin-top: 6px;
  }
  .right-side .contact-button input[type="button"] {
    color: #FFF;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #6C584C;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .contact-button input[type="button"]:hover {
    background: #6C584C;
  }

  

  
  /*navbar pages font size---------------------------------------------------------------------------------------------------------*/
  .navbar-nav .nav-link {
    font-size: 20px;
  }