*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url("../img/map_00.png");
    background-size:cover;
    padding: 0;
    margin:0;
}

header {
  background-color: #333;
  padding: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.home-button {
  font-size: 24px; /* Set the font size to adjust the icon size */
  color: #fff; /* Set the color of your home button */
  text-decoration: none;
}

.home-button:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}

.buttons-all {
  display: flex;
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Align the buttons to the right */
.header-container .buttons-all {
  margin-left: auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    justify-content: center;
    align-items: center;
}

#overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

form{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

input[type="radio"]{
    display: none;
}

label{
    position: relative;
    color: #a98467;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    border: 2px solid #a98467;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items:center;
    cursor: pointer;
}

label:before{
    content: "";
    height: 10px;
    width: 10px;
    border: 3px solid #a98467;
    border-radius: 50%;
    margin-right: 20px;
}

input[type="radio"]:checked + label{
    background-color: #a98467;
    color: white;
}

input[type="radio"]:checked + label:before{
    height: 10px;
    width: 10px;
    border:#a98467
}