body{
  margin: 0;
  padding: 0;
  background-image: url("../img/login-gif.gif");
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating */
  /* Center the background image vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Set the height to fill the viewport */
  height: 100vh;;
}

.container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 100vh;
}

.text {
  text-align: center;
  background-image: url("../img/Carved_3Slides.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.input-group {
  display: flex;
  justify-content: center;
  height: auto;
}

.text h3{
  font-family: 'DM Serif Display', serif;
}

