body{
    background-color: #f0ead2;
}

.head{
font-family: 'DM Serif Display', serif;
font-size:40px;
text-align: center;
}
.table-custom td {
    background-color: #adc178; /* Set the background color */

  }


  .table-custom th {
    background-color: #adc178; /* Set the background color */
    
  }



  .class1{
    font-family: 'DM Serif Display', serif;
   font-size:40px;

  }

  /*footer--------------------------------------------------------------------------------------------------------------*/
.container-fluid.p-4.pb-0, .row, .mt-3,.p-3,.pt-0, .text-md-start{
  background-color: #6c584c;
}


  


  