body{
  background-color: #f0ead2;
}

/*navbar pages font size---------------------------------------------------------------------------------------------------------*/
/*.navbar-nav .nav-link {
  font-size: 20px;
}*/

/*card-------------------------------------------------------------------------------------------------------------------------*/
.card-footer.p-2{
  background-color: #a98467;
}

.p-2{
  background-color: #a98467;
}

.card-footer p-3{
  background-color: #a98467;
}

/*search bar---------------------------------------------------------------------------------------------------------*/
input[type=text] {
  width: 130px;
  color: #6C584C;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Container for the two columns ------------------------------------------------------------------------------------------*/
.container {
  display: flex;
  flex-direction: column; /* Change to column layout for responsiveness */
}

/* Styles for the left column containing text */
/*.col-left {
  margin-bottom: 20px;
}*/

/* Styles for the right column containing paragraphs and headings */
/*.col-right {
  margin-bottom: 20px;
}*/

/*font and content-----------------------------------------------------------------------------------------------*/
.h2-section-title,
.h3-section-sub-title,
.number-small {
  color: #6c584c;
  font-family: 'DM Serif Display', serif;
}

.h2-section-title {
  font-size: 4.9rem;
  font-weight: 400;
  line-height: 90px;
}

.h3-section-sub-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  margin-right: 10%;
}

.number-small {
  font-size: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p1,
.space-10 {
  color: #575757;
  margin-bottom: 10px;
  font-family: Graphik, sans-serif;
  font-size: 16px;
  line-height: 27px;
}

.number-small-text {
  transform: rotate(-90deg);
  color: #adc178;
  font-family: Parabole, sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin-right: 100%;
  margin-top: 10%;
}


.row.row-cols-1.row-cols-md-3.g-4 {
  justify-content: flex-end;
  margin-bottom: 40%; /* Add a margin-bottom value to create space below the item */
  margin-top: -60px;
}


