body,div{
    background-color: #f0ead2;
  }
    
  #basicAccordion{
    margin: 0 auto;
    width: 50%;
    background-color: #f0ead2;
  }
  .btn{
    background-color: #6C584C;
    border-radius: 10px;
    color: #f0ead2;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  #tableContainer {
    background-color: #f0ead2; /* Change to the color you prefer */
    padding: 20px; /* Adjust the padding as needed */
  }
  
  #myTable {
    width: 100%; /* Ensure the table takes up the full width of the container */
  }
  
  #myTable th, #myTable td {
    background-color: #f0ead2; /* Change to the color you prefer */
  }
  
  /* Optional: Add hover effect for better visibility */
  #myTable tbody tr:hover {
    background-color: #d9d9d9; /* Change to the color you prefer */
  }
  
