body{
body{
  background-color: #f0ead2;
}

/*body{
  background-color: #130f40;
}
*/

@font-face {
  font-family: 'Alata';
  src: url('../font/Alata/Alata-Regular.ttf');
}

/*navbar pages font size---------------------------------------------------------------------------------------------------------*/
.navbar-nav .nav-link {
  font-size: 20px; /* Adjust the font size as needed */
}

/*navbar pages font size---------------------------------------------------------------------------------------------------------*/
/*.navbar-nav .nav-link {
  font-size: 20px;
}*/

/*card-------------------------------------------------------------------------------------------------------------------------*/
.card-footer.p-2{
  background-color: #adc178;
}

.p-2{
  background-color: #a98467;
}

.card-footer p-3{
  background-color: #a98467;
}

/*search bar---------------------------------------------------------------------------------------------------------*/
input[type=text] {
  width: 130px;
  color: #6C584C;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Container for the two columns ------------------------------------------------------------------------------------------*/
.container {
  display: flex;
  flex-direction: column; /* Change to column layout for responsiveness */
}

/* Styles for the left column containing text */
.col-left {
  margin-bottom: 20px;
}

/* Styles for the right column containing paragraphs and headings */
.col-right {
  margin-bottom: 20px;
}

/*font and content-----------------------------------------------------------------------------------------------*/
.h2-section-title,
.h3-section-sub-title,
.number-small {
  color: #6c584c;
  font-family: 'DM Serif Display', serif;
}

.h2-section-title {
  font-size: 4.9rem;
  font-weight: 400;
  line-height: 90px;
}

.h3-section-sub-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  margin-right: 5%;
}

.number-small {
  font-size: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p1,
.space-10 {
  color: #575757;
  margin-bottom: 10px;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
  line-height: 27px;
}

.row.row-cols-1.row-cols-md-3.g-4 {
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-top: -70px;
}

#top{
  margin-top: -180px;
}

.row{
  margin-left: 5%;
}
