body,div{
  background-color: #f0ead2;
}

@font-face {
  font-family: 'Alata';
  src: url('../font/Alata/Alata-Regular.ttf');
}



/*homepage banner--------------------------------------------------------------------------------------------------------------------*/
.homepage-banner{
  max-width: 100%;
  overflow: hidden;
}

.homepage-banner img{
  width: 100%;
  height: auto;
  display: block;
}

/*cards-----------------------------------------------------------------------------------------------------------------*/
.all-services{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card{
  width: 200px; /* Set the width of your card */
  margin-right: 20px; /* Adjust the margin to create the gap between cards */
}

.card:last-child {
  margin-right: 0; /* Remove the margin from the last card to avoid extra gap */
}


/*button---------------------------------------------------------------------------------------------------------*/
.btn{
  background-color: #adc178;
  border-radius: 10px;
  color: #f0ead2;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.bg-custom {
  background-color: #f0ead2; /* Replace with your preferred color code or name */
}
.text-custom {
  background-color: #6C584C; /* Replace with your preferred color code or name */
}
.col-md-2 col-lg-2 col-xl-2 mx-auto mt-3{
  color:#6C584C;
}
.col-md-3 col-lg-2 col-xl-2 mx-auto mt-3{
  color:#6C584C;
}


/* Container for the two columns */
.container {
  display: flex;
  flex-direction: column; /* Change to column layout for responsiveness */
}

/* Styles for the left column containing text */
.col-left {
  margin-bottom: 20px; /* Add margin between columns */
}

.h2-section-title,
.h3-section-sub-title,
.number-small {
  color: #adc178;
  font-family: Parabole, sans-serif;
}

.h2-section-title {
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
}

.h3-section-sub-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  margin-top: 0;
  margin-right: 10%;
}

.number-small {
  font-size: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styles for the right column containing paragraphs and headings */
.col-right {
  margin-bottom: 20px; /* Add margin between columns */
}

.p1,
.space-10 {
  color: #575757;
  margin-bottom: 10px;
  font-family: Graphik, sans-serif;
  font-size: 16px;
  line-height: 27px;
}

.number-small-text {
  transform: rotate(-90deg);
  color: #adc178;
  font-family: Parabole, sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin-right: 100%;
  margin-top: 10%;
}

.h2-section-title-rotate-text {
  transform: rotate(-90deg);
  color: #adc178;
  font-family: Parabole, sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  margin-right: 90%;
  margin-top: 30%;
  margin-left: 10%;
  margin-bottom: 70%;
}

/* Media queries for responsiveness */
@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row; /* Change back to row layout for larger screens */
  }

  .col-left,
  .col-right {
    flex: 1;
    margin-bottom: 0; /* Remove margin between columns */
  }

  .h2-section-title-rotate-text {
    margin-left: 0; /* Adjust margin for larger screens */
  }
}

.container-fluid.p-4.pb-0, .row, .mt-3,.p-3,.pt-0, .text-md-start{
  background-color: #adc178;
}